html {
  /* ? ==> 16px x 62.5 = 10px = 1rem */
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* * ==> Layout <== */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/* * (End: == Layout ==) */
/* ==> Common <== */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
/* ? ==> (hover) show the orange color to hovering over text. */
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ? ==> Button Add to Cart */
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.small {
  font-size: 1.2rem;
}
button.block {
  width: 100%;
}
/* (End: == Common ==) */
/* * ==> Header <== */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
/* ? ==> Cart Item Add (badge)  */
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 100%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.4rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
/* * (End: == Header ==) */
/* ==> Product Screen <== */
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
  margin: 1.8rem;
}
.col-3 {
  flex: 32 1 75rem;
}
/* (End: == Product Screen ==) */
/* * ==> Shipping Cart Item Name <== */
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* * (End: == Shipping Cart Item Name ==) */
/* ( Aside ) */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  color: #111;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
li.sidebar-header span {
  font-size: 2rem;
  padding: 0.3rem 0;
  margin-left: 1.4rem;
}
li.sidebar-content span {
  margin: 0 1.4rem;
}
li.sidebar-content span:last-child {
  color: #c0c0c0;
}
li.sidebar-content:hover,
li.sidebar-content:hover span:last-child {
  color: #111;
  background-color: #f8f8f8;
}
/* ( END Aside ) */
/* ==> Image <== */
img {
  border-radius: 0.5rem;
}
/* Shipping Cart Image */
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
/* Image Product Screen */
img.large {
  width: 100%;
}
/* (End: == Image ==) */
/* * ==> Card <== */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* * (End: == Card ==) */
/* ==> Rating Stars <== */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* (End: == Rating Stars ==) */
/* * ==> Alert <== */
/* ? ==> Prevent moving around spinner for loading */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
/* * (End: == Alert ==) */
/* ==> Alert Message <== */
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* (End: == Alert Message ==) */
/* * ==> Loading Spinner <== */
.spinner span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ff8000;
  margin: 1.5rem;
}
.spinner span:last-child {
  font-size: 1.5rem;
  color: #404040;
}
/* * (End: == Loading Spinner ==) */
/* ==> Back Home <== */
.back-home span {
  font-size: 1.5rem;
  color: #404040;
  margin: 0.2rem;
}
.back-home span:last-child:hover {
  font-size: 1.6rem;
}
/* (End: == Back Home ==) */
/* * ==> Sign In Form <== */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  /* display: block; ==> Not need remove */
}
/* * (End: == Sign In Form ==) */
/* ==> User Dropdown Menu <== */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* (End: == User Dropdown Menu ==) */
/* * ==> Checkout Steps <== */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* * (End: == Checkout Steps ==) */
/* ==> TABLE <== */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* ( END TABLE ) */
/* ( Carousel ) */
.carousel .slide img {
  max-width: 30rem;
}
/* (END Carousel ) */
/* ( Search ) */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-right: 0.5rem;
}
/* ( END Search ) */
.active {
  font-weight: bold;
}
/* ( Map ) */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* ( END Map ) */
/* ( Pagination ) */
.pagination a {
  padding: 0.8rem;
  margin: 0.4rem;
  border-radius: 0.2rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}
/* ( END Pagination ) */
/* ( Dashboard ) */
.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}
.summary-title.color-1 {
  background-color: #f0e0e0;
}
.summary-title.color-2 {
  background-color: #e0f0e0;
}
.summary-title.color-3 {
  background-color: #e0e0f0;
}
/* ( END Dashboard ) */
/* ( Chat Box ) */
.chat-box {
  color: #111;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chat-box ul {
  overflow: scroll;
  max-height: 20rem;
}
.chat-box li {
  margin-bottom: 1rem;
}
.chat-box input {
  width: calc(100% - 9rem);
}
/* ( END Chat Box ) */
/* ( Support ) */
.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}

.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25rem;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}
/* ( END Support ) */
